<?xml version="1.0"?>
<web-app
     xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">
   <servlet>
      <servlet-name>home</servlet-name>
      <servlet-class>spacebattle.HomeServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>home</servlet-name>
      <url-pattern>/andyhome</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>status</servlet-name>
      <servlet-class>spacebattle.Status</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>status</servlet-name>
      <url-pattern>/status</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>accelerate</servlet-name>
      <servlet-class>spacebattle.Accelerate</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>accelerate</servlet-name>
      <url-pattern>/accelerate</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>newPlayer</servlet-name>
      <servlet-class>spacebattle.NewPlayer</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>newPlayer</servlet-name>
      <url-pattern>/newPlayer</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>action</servlet-name>
      <servlet-class>spacebattle.Action</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>action</servlet-name>
      <url-pattern>/action</url-pattern>
   </servlet-mapping>
   <listener>
       <listener-class>spacebattle.NewPlayer</listener-class>
   </listener>
</web-app>